<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.github.marktony.espresso">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:name=".app.App"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".mvp.packages.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />

        </activity>

        <activity android:name=".mvp.addpackage.AddPackageActivity"
            android:label="@string/activity_add_package"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name=".mvp.packagedetails.PackageDetailsActivity"
            android:label="@string/activity_package_details"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name=".ui.PrefsActivity"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".mvp.search.SearchActivity"
            android:label="@string/activity_search"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name=".zxing.CaptureActivity"
            android:label="@string/activity_scan_code"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="io.github.marktony.espresso.zxing.CaptureActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service android:name=".service.ReminderService" />

        <service android:name=".appwidget.AppWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <receiver android:name=".appwidget.AppWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                android:resource="@xml/widget_provider" />
        </receiver>

    </application>

</manifest>